/* You can add global styles to this file, and also import other style files */
html, body {
    height: 100% 100%;
    margin: 0;
}

body {
    background-image: url(https://png.pngtree.com/thumb_back/fh260/background/20201101/pngtree-scene-with-geometrical-forms-the-poster-model-minimal-background-render-image_452981.jpg);
    background-repeat: no-repeat;
    background-size: cover; 
    background-position: center; 
}